{% extends 'base.html.twig' %}
{% block title %}DzienniczekUcznia{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/base.css') }}"/>
{% endblock %}
{% block body %}
    {% set currentMonthYear %}{{ app.request.get('year') }}-{{ app.request.get('month') }}{% endset %}
    {% set daysInMonth=currentMonthYear|date("t") %}
    <div id="navbar">
        <div id="previousMonth">
            <a href="{{ path('mainView',{'year': currentMonthYear|date_modify("-1 month")|date("Y"),'month':currentMonthYear|date_modify("-1 month")|date("n")}) }}">&gt; Poprzedni
                miesiąc</a>
        </div>
        <div id="currentMonth">
            <h2>{{ currentMonthYear|date("m / Y (M)") }}</h2>
        </div>
        <div id="nextMonth">
            <a href="{{ path('mainView',{'year': currentMonthYear|date_modify("+1 month")|date("Y") ,'month': currentMonthYear|date_modify("+1 month")|date("n")}) }}">Następny
                miesiąc &lt;</a>
        </div>
    </div>
    <div id="content">
        <table>
            <tr>
                <th>Nazwisko i imię</th>
                {% for d in 1..daysInMonth %}
                    <th>{{ d }}</th>
                {% endfor %}
            </tr>
            {% for student in students %}
                <tr>
                    <td class="names">{{ student.surname }} {{ student.name }}</td>
                    {% for d in 1..daysInMonth %}
                        {% set emptyCell = 1 %}
                        {% for ss in studentStatus %}
                            {% if (student.id == ss.idstudent.id) and (ss.eventDate|date('Y-m-d') == (currentMonthYear ~ '-' ~ d)|date('Y-m-d')) %}
                                {% set emptyCell = 0 %}
                                <td class="days">
                                    <a href="{{ path('changeStatus',{'student':student.id,'date':(currentMonthYear ~ '-' ~ d)|date('Y-m-d')}) }}">
                                        {{ ss.status }}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if emptyCell == 1 %}
                            <td class="days d-{{ d }}">
                                <a href="{{ path('changeStatus',{'student':student.id,'date':(currentMonthYear ~ '-' ~ d)|date('Y-m-d')}) }}">&nbsp;</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
